[Desktop Entry]
Name=CIE ID
Version=1.4.0
Exec=java -Xms1G -Xmx1G -Djna.library.path=/usr/lib64 -classpath /usr/share/CIEID/cieid.jar it.ipzs.cieid.MainApplication
Comment=CIE ID
Icon=/usr/share/CIEID/logo_circle.png
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Application;
Name[it_IT]=cieid
